################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HCUK.IoT/HCUK.IoT.AzureIoTServices/bin/Debug
